body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid black;
    height: 90vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
}

.img-section{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 30%;
    height: 100%;
    background-image: url(./images/redclouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: black;  
    opacity: 0.6;
    color: white;
    font-size: 3.5rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 100%;
    height: 15%;
    margin-top: 30%;
}

.img-overlay > img{
    height: 80%;
}

.img-credit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105%;
    font-size: 1.25rem;
    font-family: sans-serif; 
    color: white; 
}

a{
    color: white ;
}

.form-section{
    display: flex;
    flex-direction: column;
    border: 2px solid purple;
    width: 70%;
    height: auto;
    margin: 10px;
}

.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid pink;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid red;
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;

}

.form-container > p{
    font-size: 1.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}